<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <h2>NIVEL 2</h2>
                    <br>
                    
                    <form action="/preguntas/categoria2/{{respuestaCorrecta}}" method="POST">

                        <div class="form-group">
                            {{preguntaC2.pregunta}}
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{respuestaCorrecta}}" id="radio1" name="grupo1">
                            <label class="form-check-label" for="radio1">
                               {{respuestaCorrecta}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{res1}}" id="radio2" name="grupo1">
                            <label class="form-check-label" for="radio2">
                                {{res1}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{res2}}" id="radio3" name="grupo1">
                            <label class="form-check-label" for="radio1">
                                {{res2}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{res3}}" id="radio4" name="grupo1">
                            <label class="form-check-label" for="radio1">
                                {{res3}}
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-dark">
                                Enviar
                            </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>